@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family:'Roboto', sans-serif;
    overflow-x: hidden;
}

.banner{
    overflow: hidden;
}

/* Estilização do top do site */
.container-fluid{
    padding: 0;
    margin: 0;
}


header {
    height: 600px;
    background-image: url('../img/wallpappers/pakata-goh-EJMTKCZ00I0-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    position: relative;
}

.pelicula-header{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(48, 47, 47, 0.8), rgba(48, 47, 47, 0.1)) ;
    
}

.midias-sociais .redes-sociais{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}

.midias-sociais .midia-content{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
    transition: 1s;

}

.midias-sociais .midia-content:hover{
    background-color: rgb(233, 225, 225);
}

.midias-sociais img{
    width: 35px;
    height: 35px;
}

.number-cell{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
    margin-right: 15px;
}
.icon-wahtsapp{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
}

.icon-wahtsapp:hover{
    background-color: rgb(233, 225, 225);
}

.icon-wahtsapp img{
    width: 35px;
    height: 35px;
}

.icon-wahtsapp a{
    text-decoration: none;
    color: #FFF;
}

.number-wtp{
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(233, 225, 225, .3);
    border-radius: 25px;
    margin-left: 10px;
    transition: 1s ease-in-out;
}

div.number-wtp:hover {
    background-color:rgb(190, 187, 187);
}

.number-wtp p{
    font-size: 16pt;
    color: rgb(221, 219, 219);
    font-weight: bold;
    margin-top: 20px;
    transition: .5s ease-in-out;
}

.number-wtp p:hover{
    color: rgb(54, 54, 54);
    text-decoration: none !important;
}

header .navbar{
    margin-top: 25px;
}

header .navbar ul{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .navbar ul li{
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 0;
    border-radius: 15px;
    transition: .5s ease-in-out;
}

header .navbar ul li a{
    color: rgb(233, 232, 232);
    font-weight: 600;
    transition: .5s ease-in-out;
}

header .navbar ul li:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

header .navbar ul li a:hover{
    color: rgb(36, 36, 36);
    
}

.titles-header{
    height: 300px;
}

.titles-header h1, .titles-header h2{
    color: #FFF;
    font-weight: bolder;
    padding: 0 15px;
}

.titles-header h1{
    font-size: 30pt;
}

.titles-header h2{
    margin-left: auto;
    margin-right: auto;
    font-size: 16pt;
}

#quem-sou{
    height: 600px;
    background-color: #FFF;
    padding-top: 80px;
}

.avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 100px;
}

.sobre-mim{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-mim p{
    height: 300px;
    width: 600px;
    margin-top: 80px;
    font-size: 16pt;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.sobre-mim p span#ola{
    font-size: 26pt;
    font-weight: 400;
}

.minhas-techs{
    margin-bottom: 50px;
}

.techs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.techs img.tech{
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

.techs small{
    font-size: 8pt;
    font-weight: bolder;
    margin-left: 10px;
}

#o-que-faco-title{
    margin-top: 100px;
}

#o-que-faco{
    margin-top: 80px;
    height: 500px;
    background-image: url('../img/img-bg/linha-de-fundo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#o-que-faco img{
    width: 150px;
    height: 150px;
}

.content-dev{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

#o-que-faco p{
    margin-top: 15px;
    font-size: 14pt;
    font-weight: 500;
}

.mobile{
    margin-top: 100px;
    font-weight: 600;
}

.aux-mobile{
    height: 250px;
}

#contato{
    width: 100%; 
    height: 700px;
    background-image: url('../img/wallpappers/blake-connally-IKUYGCFmfw4-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    right: 0; 
    left: 0;
}

.pelicula-contato{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(35, 1, 41, 0.6);
}


.contato-title{
    width: 600px;
}

form button{
    font-size: 16pt;
}

footer{
    height: 150px;
    background-color: rgba(35, 1, 41, 0.95);
}

footer ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer ul li a{
    color: #FFF;
    font-weight: bold;
}

footer ul li a:hover{
    text-decoration: underline;
}

footer img{
    width:40px;
    height: 40px;
}

footer p{
    margin-top: 10px;
    margin-left: 10px;
}

.footer-wts{
    margin-top: 20px;
}

@media(max-width: 992px){
    .banner{
        overflow: hidden;
    }

    header {
        width: 100%;
        height: 300px;
        background-color: #FFF;
        background-image: url('../img/wallpappers/oskar-yildiz-cOkpTiJMGzA-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        background-attachment: scroll;
        overflow: hidden;
    }

    .icon-wahtsapp{
        justify-content: start;
        align-items: flex-start;
        left: 12px;
    }

    .number-wtp{
        width: 99%;
        height: 60px;
        background: none;
        align-items: flex-start;
    }

    .number-cell{
        display: flex;
        justify-content: start;
        align-items: flex-start;
        margin-left: 15px;
        margin-right: 40px;
    }

    .main-menu{
        display: none;
    }

    .menu-row{
        display: none;
    }

    .main-menu nav{
        display: none;
    }


    #quem-sou{
        height: 600px;
        background-color: #FFF;
        padding-top: 20px;
    }

    .avatar{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-left: 30%;
        margin-right: 25%;
    }

    .minhas-techs{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .oq-title{
        padding-top: 100px;
    }
    

    #o-que-faco{
        background: none;
    }

    .mobile{
        margin-top: 10px;
    }

    .aux-mobile{
        height: 500px;
    }

    #contato{ 
        height: 750px;
    }
    
    .esconder-sm nav{
        display: none;
    }

    .titles-header{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    
}


@media(max-width: 400px){
    
    .main-title{
        padding: 0 5px;
    }

    .main-title h1{
        font-size: 16pt;
    }

    .main-menu h2{
        font-size: 10pt;
    }
    
    #minhas-techs{
        padding-top: 20px;
    }

}

@media(max-width: 500px){
    .main-title h1{
        font-size: 24pt;
    }

    .main-menu h2{
        font-size: 20pt;
    }

    .avatar{
        margin-left: 25%;
    }

    #minhas-techs{
        margin-top: 80px;
        margin-bottom: 50px;
    }

    .oq-title{
        margin-top: 280px;
        font-size: 20pt;
        padding: 0 20px;
    }

    .content-dev p{
        padding: 0 25px 0 30px;
    }

}

@media (min-width: 768px) { 
    .avatar{
        margin-left: 40%;
    }

    header {
        width: 100%;
        height: 300px;
        background-color: #FFF;
        background-image: url('../img/wallpappers/emile-perron-xrVDYZRGdw4-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: scroll;
        overflow: hidden;
    }
}

@media (min-width: 992px) {

    
    header {
        height: 600px;
        background-image: url('../img/wallpappers/pakata-goh-EJMTKCZ00I0-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        box-sizing: border-box;
        position: relative;
    }

    .main-title h1{
        font-size: 50pt;
    } 
    .main-title h2{
        font-size: 30pt;
    }

    .icon-wahtsapp{
        width: 30px;
        height: 50px;
        padding: 10px;
        border-radius: 100px;
    }

    .titles-header{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .oq-h3{
        font-size: 35pt;
    }
}